/* body style */
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: var(--color-of-pharaghraps);
}
:root {
  --blue-text-color: #2e2f42;
  --iris-text-color: #4d5ae5;
  --color-of-pharaghraps: #434455;
  --color-button-white: #ffffff;
  --color-ocean-button: #404bbf;
  --color-cloud-logo: #f4f4fd;
  --color-cornflower-footer: #e7e9fc;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0%;
}
ul {
  margin: 0%;
  padding: 0%;
}
img {
  display: block;
}
.container {
  width: 1158px;
  margin: 0 auto;
  outline: 1px solid red;
  padding-left: 15px;
  padding-right: 15px;
}
/* decoration */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* header */
.page-header {
  padding: 24px 0;
  display: flex;
}
.page-header .container {
  display: flex;
}
.header-container {
  display: flex;
  align-items: center;
}
.page-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-text-color);
  margin-right: 76px;
}

.logo-2 {
  color: var(--blue-text-color);
}
.decor {
}
.menu {
  display: flex;
  gap: 40px;
}
.menu-item {
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.menu-item .menu-link {
  color: var(--color-of-pharaghraps);
}
.menu-item .menu-link:focus,
.menu-item .menu-link:hover {
  color: var(--iris-text-color);
}
.header-inner {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.address {
  margin-left: auto;
}
.mail {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-right: 40px;
}
.list .mail {
  color: var(--color-of-pharaghraps);
}
.list .mail:hover,
.list .mail:focus {
  color: var(--iris-text-color);
}

.contact-phone-number {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-left: auto;
}
.contact-phone-number {
  color: var(--color-of-pharaghraps);
}
.list .contact-phone-number:hover,
.list .contact-phone-number:focus {
  color: var(--iris-text-color);
}
/* header */

/* Hero */
.hero {
  background: var(--blue-text-color);
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  width: 496px;
  letter-spacing: 0.02em;
  color: var(--color-button-white);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.modal-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  margin: 0 auto;
  letter-spacing: 0.04em;
  align-items: center;

  color: var(--color-button-white);
  background-color: var(--iris-text-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border-radius: 4px;
  padding: 16px 32px;
  border: transparent;
}
.modal-btn {
  font-weight: 500;
  font-size: 16px;
  color: var(--iris-text-color);
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: flex;
  background: var(--color-cornflower-footer);
  border: 1px solid var(--color-button-white);
  border-radius: 4px;
  padding: 12px 24px;
}
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 96px;
}

.navigation .modal-btn:hover,
.navigation .modal-btn:focus {
  background-color: var(--color-ocean-button);
  color: var(--color-button-white);
}
.navigation {
  background: none;
}
/* Hero */

/* section 1 about */
.about {
  padding: 120px 0;
}
.about-list {
  width: 1128px;
  display: flex;
}
.list {
}
.about-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-of-pharaghraps);
}
.about-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--blue-text-color);
  margin-bottom: 8px;
}

.about-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-of-pharaghraps);
}

/* section 1 about */

/* section 2 */
.section-2 {
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--blue-text-color);
  margin: 72px;
  text-align: center;
}
.cards {
  display: flex;
  gap: 24px;
  margin-right: 24px;
  padding-bottom: 120px;
}

/* section 2 */

/* team */
.team {
  background: var(--color-cloud-logo);
  padding: 120px 0;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--blue-text-color);
  text-align: center;
  margin: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
  text-align: center;
}
.team-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 0.9;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  width: calc((100% - 72px) / 4);
}
.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--blue-text-color);
  padding-top: 32px;
  padding-bottom: 8px;
}
.team-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-of-pharaghraps);
  padding-bottom: 32px;
}
.team-description {
  background-color: var(--color-button-white);
  border-radius: 0px 0px 4px 4px;
  border-top: none;
  text-align: center;
}
/* team */

/* navigation */

/* footer */
.footer {
  background: var(--blue-text-color);
}
.logo2 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-cloud-logo);
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-text-color);
}
.logo2 .logo-footer:hover,
.logo2 .logo-footer:focus {
  color: var(--iris-text-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-cornflower-footer);
  width: 264px;
  margin-top: 16px;
}
/* footer */

/* row */
.about-row {
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
  column-gap: 24px;
  padding-bottom: 120px;
}
.about-row .row-item {
  flex-basis: calc(100% / 3);
}
.row-item {
}
.row-list {
}
.row-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--blue-text-color);
  margin-top: 32px;
}
.row-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-of-pharaghraps);
  margin-top: 8px;
  padding-bottom: 32px;
}
.site-nav {
  padding-left: 16px;
  border: 1px solid var(--color-cornflower-footer);
}

/* row */
